{% extends 'layouts/base_auth.html' %}
{% load static %}
{% block content %}

<div class="d-flex p-2 align-items-center">
    <h1>New Question</h1>
</div>
<form class="col-9 d-flex flex-column gap-4 need-validation">
    <div class="mb-2">
        <label for="Title" class="form-label">Title</label>
        <input type="Text" minlength="10" maxlength="100" class="form-control border-black" id="Title"
               placeholder="How to build a moon park?" required>
        <div class="invalid-feedback"> Please compose a valid title.</div>
        <span id="titleHelpInLine" class="form-text">
                        Must be 10-100 characters long.
                </span>
    </div>

    <div class="mb-3">
        <label for="Text" class="form-label">Text</label>
        <textarea class="form-control border-black" placeholder="Really, how? Have no idea about it" maxlength="1000" id="Text" rows="5" required></textarea>
        <div class="invalid-feedback"> Please compose a valid description.</div>
        <span id="textHelpInLine" class="form-text">
                        Describe your problem. Must be less than 1000 characters long.
                </span>
    </div>
    <div class="mb-3">
        <label for="Tags" class="form-label">Tags</label>
        <input type="Text" maxlength="100" class="form-control border-black" id="Tags" placeholder="moon, park, puzzle"
               required>
        <div class="invalid-feedback"> Please compose a valid tags.</div>
        <span id="tagsHelpInLine" class="form-text">
                        Add tags. Must be 3 tags.
                </span>
    </div>
    <div class="d-grid col-1">
        <button type="submit" class="btn btn-outline-success">Ask</button>
    </div>
</form>
{% endblock %}