{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>base</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary border-3 border-bottom border-black">
    <div class="container-fluid">
        <div class="d-flex w-100 justify-content-between align-center">
            <a class="navbar-brand" href="#">AskPupkin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Ask</button>
            </form>
            <div class="d-flex gap-3">
                <img src="123444.jpg" alt="Avatar" class="thumbnail">
                <div>
                    <div>
                        Dr. Pepper
                    </div>
                    <div class="d-flex gap-2">
                        <a href="#">settings</a>
                        <a href="#">log out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<main class="container mt-3">
    <div class="d-flex gap-3 align-items-center">
        <h1>Tag: bender</h1>
    </div>

    <div class="row">
        <div class="col-9 d-flex flex-column gap-4" style="height: 100px">
            <div class="d-flex flex-column gap-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body border border-black">
                        <div class="row">
                            <div class="col-2">
                                 <div class="border border-black mb-2" style="height:100px">
                                    <img src="123444.jpg" alt="Avatar" class="img-fluid">
                                </div>
                                <div class="d-flex border border-black justify-content-between">
                                    <input class="form-control form-control-lg" type="number" value="5"
                                           placeholder=".form-control-lg" aria-label="Пример .form-control-lg">
                                </div>
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-between">
                                <div>
                                    <h5 class="card-title"><a href="#" class="card-link">How to build a moon park ?</a></h5>
                                    <p class="card-text">Guys, i have trouble with a moon park.
                                        Can`t find th black-jack...</p>
                                </div>
                                <div class="d-flex gap-5 ">
                                    <a href="#" class="card-link">answer (3)</a>
                                    <div>
                                        Tags:
                                        <a href="#" class="card-link">black-jack</a>
                                        <a href="#" class="card-link">bender</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column gap-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body border border-black">
                        <div class="row">
                            <div class="col-2">
                                 <div class="border border-black mb-2" style="height:100px">
                                    <img src="123444.jpg" alt="Avatar" class="img-fluid">
                                </div>
                                <div class="d-flex border border-black justify-content-between">
                                    <input class="form-control form-control-lg" type="number" value="5"
                                           placeholder=".form-control-lg" aria-label="Пример .form-control-lg">
                                </div>
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-between">
                                <div>
                                    <h5 class="card-title"><a href="#" class="card-link">How to build a moon park ?</a></h5>
                                    <p class="card-text">Guys, i have trouble with a moon park.
                                        Can`t find th black-jack...</p>
                                </div>
                                <div class="d-flex gap-5 ">
                                    <a href="#" class="card-link">answer (3)</a>
                                    <div>
                                        Tags:
                                        <a href="#" class="card-link">black-jack</a>
                                        <a href="#" class="card-link">bender</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column gap-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body border border-black">
                        <div class="row">
                            <div class="col-2">
                                 <div class="border border-black mb-2" style="height:100px">
                                    <img src="123444.jpg" alt="Avatar" class="img-fluid">
                                </div>
                                <div class="d-flex border border-black justify-content-between">
                                    <input class="form-control form-control-lg" type="number" value="5"
                                           placeholder=".form-control-lg" aria-label="Пример .form-control-lg">
                                </div>
                            </div>
                            <div class="col-10 d-flex flex-column justify-content-between">
                                <div>
                                    <h5 class="card-title"><a href="#" class="card-link">How to build a moon park ?</a></h5>
                                    <p class="card-text">Guys, i have trouble with a moon park.
                                        Can`t find th black-jack...</p>
                                </div>
                                <div class="d-flex gap-5 ">
                                    <a href="#" class="card-link">answer (3)</a>
                                    <div>
                                        Tags:
                                        <a href="#" class="card-link">black-jack</a>
                                        <a href="#" class="card-link">bender</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-3">
            <section>
                <h2>Popular Tags</h2>
                <span class="badge rounded-pill"><a class="text-danger text-decoration-none fs-5"
                                                    href="#">perl</a></span>
                <span class="badge rounded-pill"><a class="text-decoration-none fs-5" href="#">python</a></span>
                <span class="badge rounded-pill"><a class="text-decoration-none fs-5" href="#">TechnoPark</a></span>
                <span class="badge rounded-pill"><a class="text-danger text-decoration-none fs-3"
                                                    href="#">MySQL</a></span>
                <span class="badge rounded-pill"><a class="text-warning-emphasis text-decoration-none fs-5" href="#">django</a></span>
                <span class="badge rounded-pill"><a class="text-decoration-none fs-5" href="#">Mail.ru</a></span>
                <span class="badge rounded-pill"><a class="text-decoration-none fs-5" href="#">Voloshin</a></span>
                <span class="badge rounded-pill"><a class="text-success text-decoration-none fs-5" href="#">Firefox</a></span>
            </section>

            <section>
                <h2>Best members</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#">Dr. Freeman</a></li>
                    <li class="list-group-item"><a href="#">Dr. House</a></li>
                    <li class="list-group-item"><a href="#">Marco Lisa</a></li>
                    <li class="list-group-item"><a href="#">Marco Chlisa</a></li>
                    <li class="list-group-item"><a href="#">Batman</a></li>
                </ul>
            </section>
        </div>
    </div>
</main>
<script type="text/javascript" src="{% static " bootstrap.js
" %}"></script>
</body>
</html>